@using NPD.DAL.EntityFramework
@model IEnumerable<Fault>

@{
    ViewBag.Title = "Tables Standard";
}
<h3>
    Current JObs
</h3>
<!-- START row-->
<div class="row">
    <div class="form-group">
        <div class="col-sm-12">
            @if (ViewBag.IsError != null)
            {
                if (ViewBag.IsError == false)
                {
                    <div class="alert alert-success">
                        <b>Success&nbsp;:&nbsp;</b>@ViewBag.Message
                    </div>
                }
                else
                {
                    <div class="alert alert-danger">
                        <b>Error&nbsp;:&nbsp;</b>@ViewBag.Message
                    </div>
                }
            }
        </div>
    </div>

</div>


